
:root{
    --Amber-500: #FFF8E1;
    --black: #000;
    --white: #ffffff;
    --yellow-font: rgb(255, 248, 107);
    --yellow-bg: #ff8f06;
    --ligth-yellow: #ffa90b;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.main-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 14rem;
}

.article-aire,
.article-heladera{
    width: 100%;
    background-color: var(--black);
    padding: 1rem;
    text-align: center;
}
.article-aire span,
.article-heladera span{
    color: var(--white);
    font-size: 1.4rem;
}

.article-aire p,
.article-heladera p{
    color: var(--yellow-font);
    font-size: 1.8rem;
    font-weight: 500;
}

.article-numero{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 900;
    background: var(--yellow-bg);
    padding: .75rem;
    color: var(--Amber-500);
}

.whatsapp-fixed svg{
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    z-index: 1000;
}

.fixed-section{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    color: var(--white);
}

.background-image img{
    width: 100%;
}

/* .background-image{
    position: relative;
} */



.section-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 0;
    left: 0;
    gap: 1rem;
}

.fixed-section a{
    border: 1px solid #cfcc77;
    background: #2ecc71;
    width: fit-content;
    padding: .5rem;
    margin: auto;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--white);
    font-size: 2rem;
    transition: all .3s ease-in-out;
}
.consultenos:hover,
.consultenos:active,
.consultenos:focus{
    transform: scale(1.05);
    background: #5fcc71;
}

.hero{
    padding: .5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: var(--ligth-yellow);
}

.hero h3{
    font-size: 2.4rem;
    color: var(--white);
}

.hero p{
    font-size: 1.4rem;
    font-weight: 400;
}

.hero span{
    font-size: 2rem;
    padding: .5rem 0;
    font-weight: 700;
    color: var(--white);
    background: var(--yellow-bg);
}

.img-container img{
    width: 100%;
}

.info ul{
    background:#cfcc77;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.info li{
    margin: 0 .5rem;
}

.brands img{
    width: 100%;
}

.why-us{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: var(--Amber-500);

}

.why-us span{
    text-align: center;
    color: var(--yellow-bg);
    font-size: 2rem;
    font-weight: 700;
}

.why-us-list{
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    gap: .5rem;
}

.payment-methods{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin: .5rem;
}

.bottom-cta{
    background: var(--yellow-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 600;
}

.main-footer{
    text-align: center;
    font-size: 1.4rem;
    background: var(--ligth-yellow);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
}